<section class="main main_contacts">
    <div class="container-fluid">
        <div class="row no-gutters justify-content-between">
            <div class="col-md-auto">
                <div class="point">
                    <p class="location"><img class="location-img" src="~/Content/img/location.png">Cilpo 25a street</p>
                    <img class="full-point" src="~/Content/img/point.png">
                </div>
            </div>
            <div class="col-md-auto">
                <div class="heading">
                    <h1 class="title">contacts</h1>
                    <p class="subtitle2">To contact us - you can visit our office or call by phone. Calls that do not carry the message are punishable by the local authorities.</p>
                </div>
            </div>
        </div>
    </div>
</section>