<section class="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="title">city.</h1>
                <p class="subtitle">Air pollution occurs when harmful or excessive quantities of substances including gases, particles, and biological molecules are introduced into Earth's atmosphere.</p>
            </div>
        </div>
    </div>
</section>