<div class="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="title">info</h1>
                <p class="subtitle">Pollution is the introduction of contaminants into the natural environment that cause adverse change. Pollution can take the form of chemical substances or energy, such as noise, heat or light. Pollutants, the components of pollution, can be either foreign substances/energies or naturally occurring contaminants. Pollution is often classed as point source or nonpoint source pollution. In 2015, pollution killed 9 million people in the world.</p>
                <p class="subtitle">Major forms of pollution include: Air pollution, light pollution, littering, noise pollution, plastic pollution, soil contamination, radioactive contamination, thermal pollution, visual pollution, water pollution.</p>
                <div class="ui">
                    <p class="subtitle">
                        To get a date, click on
                        <span class="txt-rotate"
                              data-period="1000"
                              data-rotate='[ "button", "element", "input item", "text"]'>
                        </span> bellow
                    </p>
                    <input class="subtitle" type="hidden" id="date_picker">
                </div>
            </div>
        </div>
    </div>
</div>
    
