<div class="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="title">@ViewBag.Title</h1>
                <p class="subtitle">@ViewBag.Text</p>
                <div class="ui">
                    <p class="subtitle">
                        To get a date, click on
                        <span class="txt-rotate"
                              data-period="1000"
                              data-rotate='[ "button", "element", "input item", "text"]'>
                        </span> bellow
                    </p>
                    <input class="subtitle" type="hidden" id="date_picker">
                </div>
            </div>
        </div>
    </div>
</div>
    
